* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container-form {
    position: relative;
    border: 2px solid #08896e; 
    border-radius: 8px;
    text-align: center;
    align-items: center;
    min-height: 10px;
    background-color: rgb(240, 255, 251);
}

.formulario {
    justify-items: center;
    border-radius: 15px;
    background-color: rgb(119, 207, 182);
    margin: auto;
    text-align: left;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.tabela h2 {
    padding: 5px;
    margin: 10px 20px 2px 10px;

}

.tabela h5 {
    font-size: 1rem;
    padding: 5px;
    margin: 25px;
}

.tabela {
    justify-items: center;
    margin: 25px;

}

footer {
    background-color: rgb(143, 220, 197);
    text-align: center;
    padding: 35px 0;

}