* {
    /* margin: 0; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background: linear-gradient(#003366, #006699);
    color: #fff;
    padding: 40px;
}

div#topo {
    display: flex;
    background-color: linear-gradient(#003366, #006699);
    color: #fff;
    padding: 5px;
}

div#topo p {
    font-size: 1em;
    margin-left: 20px;
}

/*navegacao*/
ul {
    margin: 0;
    padding: 0;
}


ul li a {
    padding: 58px;
}

ul,
ul li a {
    display: flex;
    list-style-type: none;
    background-color: #06517f;
    color: #ffff;
    margin: 0;
    gap: 10px;
    text-decoration: none;
    padding: 15px;
    justify-content: center;
}

ul li a:hover {
    background-color: #75c4f6;
    color: #070707;
    /* padding: 20px; */
}

/*Tabela*/

.tabela {
    margin: 80px;
    justify-items: center;
}

.tabela h2 {
    text-align: center;
    padding: 5px;
    margin: 10px 20px 2px 10px;

}

.tabela h5 {
    font-size: 1rem;
    padding: 5px;
    margin: 25px;
    text-align: center;
}

thead {
    justify-content: center;
}


table th,
table td {
    margin: 52px;
    padding: 8px;
    text-align: left;
}

thead th,
tfoot tr {
    background-color: #003366;
    color: #fff;
}

table tr:nth-child(odd) {
    background-color: #1e6f987a;
}

table tr:nth-child(even) {
    background-color: #e2dfdf;
}



/*Fomulario*/

form.profissional {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: fit-content;
    gap: 5px;
    padding: 10px;


}

/*botoes*/
input[type="submit"],
.botaoVerde {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.4em;
    text-decoration: none;
    cursor: pointer;
}

input[type="reset"],
.botaoRed {
    background-color: rgb(247, 33, 5);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.4em;
    text-decoration: none;
    cursor: pointer;

}


footer {
    color: #fff;
    background: linear-gradient(#003366, #44758d);
    text-align: center;
    padding: 30px 0;

}

/* resposivo */

@media screen and (max-width: 910px) {
    ul,
    ul li a{
        display: block;
    }

    form.profissional{
        grid-template-columns: 1fr ;
    }
}