@use "sass:color";

body, app-root {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
}

html, body, app-root {
    height: 100%;
}

/* Header e Footer */

div#logo {
    margin: auto 0;
    span {
        font-weight: bold;
        font-size: 2em;
    }
    * {
        vertical-align: middle;
        margin-left: 0.5em;
    }
}

header {
    background-image: linear-gradient(#003366, #006699);
    display: flex;
    justify-content: space-between;
    /* Responsivo */
    flex-wrap: wrap;
}

header, footer {
    color: white;
    padding: 0.5em;
}

%shared-span {
    display: block;
    margin-bottom: 0.5em;
}

footer {
    background-color: #003366;
    a {
        color: inherit;
    }
    span {
        @extend %shared-span;
    }
}

div#usuarioInfo {
    text-align: right;
    a.botao {
        border: 1px solid white;
    }
    span {
        @extend %shared-span;
    }
}

@media screen and (max-width: 450px) {

    div#usuarioInfo {
        text-align: left;
        margin-top: 1em;
    }

}


/* Main */

main {
    background-image: linear-gradient(#cccccc, white);
    padding: 1em;
    flex-basis: 100%;
}

/* Links e botões */

$cor-botao: #2c832d;
$cor-botao-excluir: #c42626;
$cor-botao-confirmacao: #7c7401;
$cor-botao-chegada: #01378a;

@mixin corBotao($cor) {
    background-color: $cor;
    &:hover {
        background-color: color.adjust($cor, $blackness: 20%);
    }
}

a.botao,
input[type="button"],
input[type="submit"] {
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin-left: 0.25em;
    @include corBotao($cor-botao);
}

a.botao {
    text-decoration: none;
    padding: 0 0.4em;
    line-height: 2em;
    display: inline-block;
    &.inativo {
        display: none;
    }
    &.oculto {
        visibility: hidden;
    }
    &.confirmacao,
    &.chegada,
    &.iniciar,
    &.finalizar {
        width: 6.5em;
    }
    &.confirmacao {
        @include corBotao($cor-botao-confirmacao);
    }

    &.chegada {
        @include corBotao($cor-botao-chegada);
    }
}

input[type="button"],
input[type="submit"] {
    height: 2em;
}

input, select, a.botao {
    font-size: 1em;
}

a.botao.excluir,
input[value="Cancelar"] {
    @include corBotao($cor-botao-excluir);
}

/* Formulários */

form label::after {
    content: ":";
}

form div.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5em;
    margin-bottom: 0.5em;
    align-items: center;
}

form {
    width: min-content;
    margin: auto auto 1em auto;
    text-align: right;
}

form.inativo {
    display: none;
}

input, select {
    height: 2em;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    box-sizing: border-box;
}

form div.grid input,
form div.grid select {
    width: 18em;
}

input:invalid,
select:invalid {
    border-color: red;
}

input[type="submit"]:disabled,
input[type="submit"]:disabled:hover {
    background-color: grey;
    cursor: not-allowed;
}

form div.grid input[type="checkbox"] {
    margin-left: 0;
    width: 1.25em;
}

form div.grid input[type="date"] {
    font-family: inherit;
}

@media screen and (max-width: 600px) {

    form div.grid {
        grid-template-columns: 1fr;
    }

    form {
        text-align: left;
        width: 90%;
    }

    form div.grid input,
    form div.grid select {
        width: 100%;
    }

}

/* Tabela */

table {
    width: 100%;
    border-spacing: 0.2em;
    /* Responsivo */
    display: block;
    overflow-x: auto;
}

table td, table th {
    padding: 0.5em;
}

table th {
    background-color: #003366;
    color: white;
}

table tbody tr:nth-child(odd) {
    background-color: #c6d4e2;
}

table tbody tr:nth-child(even) {
    background-color: #e7ecf1;
}

table tbody tr:hover {
    background-color: #cccccc;
}

table tfoot td {
    border-top: 1px solid #003366;
    text-align: center;
}

table tbody tr td:last-child,
table tbody tr td.fit {
    text-align: center;
    width: 1%;
    white-space: nowrap;
}

/* Nav */

nav {
    background-color: #383838;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em;
}

nav ul li a:hover {
    background-color: #cccccc;
    color: #383838;
}

nav div#dropdown_menu {
    display: none;
    position: absolute;
    background-color: #383838;
    border: 1px solid white;
    box-shadow: 0px 2px 4px black;
}

nav div#dropdown_menu a {
    display: block;
}

nav ul li#dropdown:hover div#dropdown_menu {
    display: block;
}

@media screen and (max-width: 740px) {

    nav ul li,
    nav ul li#dropdown:hover div#dropdown_menu {
        display: block;
        width: 100%;
    }

    nav div#dropdown_menu {
        border-width: 0;
        box-shadow: unset;
    }

    nav ul li a {
        box-sizing: border-box;
        width: 100%;
    }

}

/* Barra de comandos */

div#comandos {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.1em;
    border-bottom: 1px solid #003366;
    flex-wrap: wrap;
    gap: .5em;
}

/* Impressão */

@media print {

    header, nav, footer, form, div#comandos {
        display: none;
    }

    table th {
        color: black;
    }

    table th,
    table tbody tr:nth-child(odd),
    table tbody tr:nth-child(even) {
        background-color: none;
    }

    table th, table td {
        border: 1px solid black;
    }

    table thead th:last-child,
    table tbody td:last-child {
        display: none;
    }

    main {
        background-image: none;
    }

}

/* AppAtendimento */

app-atendimento div#comandos a#add {
    visibility: hidden;
}

/* Paginação */

$cor-paginacao-borda: gray;
$pagination-border-color: $cor-paginacao-borda;
$pagination-hover-border-color: $cor-paginacao-borda;
$pagination-active-border-color: $cor-paginacao-borda;
$pagination-disabled-border-color: $cor-paginacao-borda;

ngb-pagination ul {
    justify-content: center;
}
