<app-barra-comandos
  (eventoBusca)="consultar($event)"
  linkForm="/profissional-form"></app-barra-comandos>
<table>
  <caption class="visually-hidden">Lista de profissionais</caption>
  <thead ordenacao (ordenacaoAtualizada)="ordenar($event)">
    <tr>
      <th sort="id">ID</th>
      <th sort="nome">Nome</th>
      <th sort="registroConselho">Registro</th>
      <th sort="especialidade.nome">Especialidade</th>
      <th sort="unidade.nome">Unidade</th>
      <th sort="telefone">Telefone</th>
      <th sort="email">E-mail</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    @for (item of registros; track item.id) {
      <tr>
        <td class="fit">{{ item.id }}</td>
        <th scope="row">{{ item.nome }}</th>
        <td>{{ item.registroConselho }}</td>
        <td>{{ item.especialidade_nome }}</td>
        <td>{{ item.unidade_nome }}</td>
        <td>{{ item.telefone }}</td>
        <td>{{ item.email }}</td>
        <td>
          <a class="botao"
            routerLink="/profissional-form"
            [queryParams]="{id: item.id}"
            ngbTooltip="Editar profissional">
            <i class="bi bi-pencil-square"></i>
            Editar</a>
          <a class="botao excluir"
            (click)="remover(item.id)"
            href="javascript:void(0)"
            ngbTooltip="Excluir profissional">
            <i class="bi bi-trash"></i>
            Excluir</a>
        </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8">
        @if (registros.length > 0) {
          <span>Total de registros: {{ respostaPaginada.totalElements }}</span>
        } @else {
          <span>Nenhum registro encontrado</span>
        }
      </td>
    </tr>
  </tfoot>
</table>
<div class="d-flex justify-content-between align-items-center">
  <app-seletor-tamanho-pagina
    [tamanhoAtual]="requisicaoPaginada.size"
    [opcoes]="itensPorPagina"
    (mudancaTamanho)="alterarTamanhoPagina($event)"></app-seletor-tamanho-pagina>
  <ngb-pagination
    [page]="requisicaoPaginada.page + 1"
    [collectionSize]="respostaPaginada.totalElements"
    [pageSize]="respostaPaginada.size"
    (pageChange)="mudarPagina($event)"></ngb-pagination>
</div>
