<app-barra-comandos
    (eventoBusca)="consultar($event)"
    linkForm="/agenda-form"></app-barra-comandos>
<table>
    <caption class="visually-hidden">Atendimentos com status AGENDADO ou CONFIRMADO</caption>
    <thead ordenacao (ordenacaoAtualizada)="ordenar($event)">
        <tr>
            <th sort="data">Data</th>
            <th sort="hora">Hora</th>
            <th sort="paciente.nome">Paciente</th>
            <th sort="profissional.nome">Profissional</th>
            <th sort="profissional.unidade.nome">Unidade</th>
            <th sort="convenio.nome">Convênio</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @for (item of registros; track item.id) {
        <tr>
            <td class="fit">{{ item.data | date: 'dd/MM/yyyy' }}</td>
            <td class="fit">{{ item.hora | slice: 0:5 }}</td>
            <th scope="row">{{ item.paciente_nome }}</th>
            <td>{{ item.profissional_nome }}</td>
            <td>{{ item.unidade_nome }}</td>
            <td>{{ item.convenio_nome || 'Sem convênio' }}</td>
            <td>
                <a (click)="atualizarStatus(item.id)"
                   href="javascript:void(0)"
                   class="botao chegada"
                   [ngClass]="{ 'inativo': item.status == 'AGENDADO' }"
                   ngbTooltip="Informar chegada">
                   <i class="bi bi-check2-all"></i>
                   Chegada</a>
                <a (click)="atualizarStatus(item.id)"
                   href="javascript:void(0)"
                   class="botao confirmacao"
                   [ngClass]="{ 'inativo': item.status == 'CONFIRMADO' }"
                   ngbTooltip="Confirmar agendamento">
                   <i class="bi bi-check2"></i>
                   Confirmar</a>
                <a routerLink="/agenda-form"
                   [queryParams]="{id: item.id}"
                   class="botao"
                   ngbTooltip="Editar agendamento">
                   <i class="bi bi-pencil-square"></i>
                   Editar</a>
                <a (click)="remover(item.id)"
                   href="javascript:void(0)"
                   class="botao excluir"
                   ngbTooltip="Cancelar agendamento">
                   <i class="bi bi-x-square"></i>
                   Cancelar</a>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                @if (registros.length > 0) {
                    <span>Total de registros: {{ registros.length }}</span>
                } @else {
                    <span>Nenhum registro encontrado</span>
                }
            </td>
        </tr>
    </tfoot>
</table>
<ngb-pagination
    [page]="requisicaoPaginada.page + 1"
    [collectionSize]="respostaPaginada.totalElements"
    [pageSize]="respostaPaginada.size"
    (pageChange)="mudarPagina($event)"></ngb-pagination>
